html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.content{
    max-height: 100%;
}

#terminal {
    position: relative;
    width: 100%;
    height: 50.5rem;
    background: rgba(0, 0, 0, 0.85);
    color: #ffffff;
    font-family: monospace;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
    border: #29335C solid 1px;
}

#output {
    white-space: pre-wrap;
    margin-bottom: 5px;
}

.input-line {
    display: flex;
}

.prompt {
    margin-right: 5px;
}

#commandInput {
    background: transparent;
    border: none;
    color: #ffffff;
    outline: none;
    flex: 1;
    font-family: monospace;
}

#earthrotation{
    display: relative;
    height: 100%;
    width: 100%;
    z-index: -500;
}
